/* MAIN WRAPPER */
#mainWrapper {
    display: flex;
    flex-direction: row;
    /* background-color: red; */
}

/* LEFT SECTION */
#mainWrapper #leftSection {
    width: 60%;
    margin-left: 0px;
    /* background-color: aqua; */
}

/* MAIN IMAGE */
#mainWrapper #leftSection img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    transition: 0.2s ease-in-out;
}

/* RIGHT SECTION */
#mainWrapper #rightSection {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* background-color: blue; */
    margin-left: 15px;
}

/* RIGHT TOP SECTION */
#mainWrapper #rightSection #topSection {
    height: 100%;
}

/* HELLO WORLD TEXT */
#mainWrapper #rightSection #topSection h3 {
    margin-left: 0px;
    color: var(--MAIN-ACCENT);
}

/* MAIN TITLE */
#mainWrapper #rightSection #topSection h1 {
    margin-left: 0px;
    font-size: 60px;
}

/* MAIN TEXT */
#mainWrapper #rightSection #topSection p {
    margin-left: 0px;
    font-size: 16px;
    text-align: justify;
}

/* MAIN TITLE COLOR SPAN */
#mainWrapper #rightSection #topSection h1 span {
    color: var(--MAIN-ACCENT);
    text-shadow: 0px 0px 25px var(--MAIN-ACCENT-SHADOW);
}

/* BUTTON CONTAINER */
#mainWrapper #rightSection #button-container {
    height: max-content;
    display: flex;
    width: 100%;
    margin-bottom: 0px;
}

/* BUTTON */
#mainWrapper #rightSection #button-container .button {
    width: 100%;
    margin-left: 7.5px;
    margin-right: 7.5px;
    height: 20px;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 30px;
    /* border: solid 2px black; */
    box-shadow: 0px 0px 25px var(--MAIN-SHADOW);
    background-color: var(--MAIN-BUTTON-BG);
    display: flex;
    align-items: center;
    float: left;
}
#mainWrapper #rightSection #button-container .button:first-child {
    margin-left: 0px;
}
#mainWrapper #rightSection #button-container .button:last-child {
    margin-right: 0px;
}

/* BUTTON HOVER */
#mainWrapper #rightSection #button-container .button:hover {
    text-decoration: underline;
    cursor: pointer;
    background-color: var(--MAIN-BUTTON-HOVER);
    box-shadow: 0px 0px 25px var(--MAIN-BUTTON-HOVER);;
}

/* BUTTON IMAGE */
#mainWrapper #rightSection #button-container .button img {
    width: 30px;
    height: 30px;
    object-fit: fill;
    margin-right: 0px;
    margin-left: 0px;
}

/* BUTTON TEXT */
#mainWrapper #rightSection #button-container .button a {
    text-decoration: none;
    margin-left: 5px;
    margin-right: 0px;
    font-size: 14px;
}

/* TYPING ANIMATION */
#typing-animation {
    height: 70px;
    margin-left: 0px;
    width: max-content;
    animation: blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: 'Roboto', monospace;
    /* font-family: monospace; */
    font-size: 60px;
    font-weight: 400;
}

/* TYPING ANIMATION */
@keyframes blink {
    50% {
        border-color: transparent
    }
}

@keyframes spin {
    0% { rotate: 0deg;}
    100% {rotate: 360deg;}
}

@keyframes reverse-spin {
    0% { rotate: 360deg;}
    100% {rotate: 0deg;}
}