/* Mobile styles (up to 767px) */
@media (max-width: 767px) {
  
}

/* Tablet styles (768px to 1023px) */
@media (min-width: 768px) and (max-width: 1023px) {
  
}

/* Laptop styles (1024px to 1439px) */
@media (min-width: 1024px) and (max-width: 1439px) {
  
}

/* Desktop styles (1440px and up) */
@media (min-width: 1440px) {
  /* About Section */
  #about {
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* height: 600px; */
    /* background-color: red; */
    /* margin-bottom: 120px; */
    /* border: 2px solid var(--BORDER-COLOR); */
  }
  
  /* About Title */
  #about h1 {
    font-size: 4em;
    text-align: right;
    padding: 10px;
    border-radius: 15px;
    /* background-color: var(--HEADER-BG); */
    /* background-color: var(--fb5); */
  }
  
  /* Info Container */
  #about .info-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1;
    gap: 20px;
    border-radius: 15px;
    padding: 20px;
    background-color: var(--HEADER-BG);
    /* background-repeat: repeat;
    background-image: var(--ABOUT-BG-IMG); */
  }
    
  /* Left Section */
  #about .info-container .left-section {
    width: 300px;
    display: flex;
    justify-content: center;
    /* background-color: red; */
  }

  /* Left Section Image */
  #about .info-container .left-section img {
    /* width: 100%; */
    /* height: 100%; */
    width: 100%;
    border-radius: 15px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    box-sizing: border-box;
    /* border: 4px solid var(--BORDER-COLOR); */
  }
  
  /* Right Section */
  #about .info-container .right-section {
    flex: 1;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* padding: 20px; */
    box-sizing: border-box;
    /* background-color: var(--fb1); */
    border-radius: 15px;
  }
  
  /* Right Section Text */
  #about .info-container .right-section p {
    font-size: 1.4em;
    font-weight: 400;
  }
}