/* Mobile styles (up to 767px) */
@media (max-width: 767px) {
  /* About Section */
  #about {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: var(--text-color);
    padding-left: 10px;
    padding-right: 10px;
  }
  
  /* About Title */
  #about h1 {
    font-size: 3em;
    text-align: right;
    padding: 10px;
    border-radius: 15px;
  }
  
  /* Info Container */
  #about .info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    gap: 20px;
    border-radius: 15px;
    padding: 20px;
    background-color: var(--color2);
  }
    
  /* Left Section */
  #about .info-container .left-section {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  /* Left Section Image */
  #about .info-container .left-section img {
    width: 100%;
    border-radius: 15px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    box-sizing: border-box;
  }
  
  /* Right Section */
  #about .info-container .right-section {
    flex: 1;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    border-radius: 15px;
  }
  
  /* Right Section Text */
  #about .info-container .right-section p {
    font-size: 1em;
    font-weight: 400;
  }
}

/* Tablet styles (768px to 1023px) */
@media (min-width: 768px) and (max-width: 1023px) {
  /* About Section */
  #about {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: var(--text-color);
    padding-left: 20px;
    padding-right: 20px;
  }
  
  /* About Title */
  #about h1 {
    font-size: 3em;
    text-align: right;
    padding: 10px;
    border-radius: 15px;
  }
  
  /* Info Container */
  #about .info-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1;
    gap: 20px;
    border-radius: 15px;
    padding: 20px;
    background-color: var(--color2);
  }
    
  /* Left Section */
  #about .info-container .left-section {
    width: 300px;
    display: flex;
    justify-content: center;
  }

  /* Left Section Image */
  #about .info-container .left-section img {
    width: 100%;
    border-radius: 15px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    box-sizing: border-box;
  }
  
  /* Right Section */
  #about .info-container .right-section {
    flex: 1;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    border-radius: 15px;
  }
  
  /* Right Section Text */
  #about .info-container .right-section p {
    font-size: 1em;
    font-weight: 400;
  }
}

/* Laptop styles (1024px to 1439px) */
@media (min-width: 1024px) and (max-width: 1439px) {
   /* About Section */
   #about {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: var(--text-color);
    padding-left: 20px;
    padding-right: 20px;
  }
  
  /* About Title */
  #about h1 {
    font-size: 3em;
    text-align: right;
    padding: 10px;
    border-radius: 15px;
  }
  
  /* Info Container */
  #about .info-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1;
    gap: 20px;
    border-radius: 15px;
    padding: 20px;
    background-color: var(--color2);
  }
    
  /* Left Section */
  #about .info-container .left-section {
    width: 300px;
    display: flex;
    justify-content: center;
  }

  /* Left Section Image */
  #about .info-container .left-section img {
    width: 100%;
    border-radius: 15px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    box-sizing: border-box;
  }
  
  /* Right Section */
  #about .info-container .right-section {
    flex: 1;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    border-radius: 15px;
  }
  
  /* Right Section Text */
  #about .info-container .right-section p {
    font-size: 1.3em;
    font-weight: 400;
  }
}

/* Desktop styles (1440px and up) */
@media (min-width: 1440px) {
  /* About Section */
  #about {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: var(--text-color);
  }
  
  /* About Title */
  #about h1 {
    font-size: 4em;
    text-align: right;
    padding: 10px;
    border-radius: 15px;
  }
  
  /* Info Container */
  #about .info-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1;
    gap: 20px;
    border-radius: 15px;
    padding: 20px;
    background-color: var(--color2);
  }
    
  /* Left Section */
  #about .info-container .left-section {
    width: 300px;
    display: flex;
    justify-content: center;
  }

  /* Left Section Image */
  #about .info-container .left-section img {
    width: 100%;
    border-radius: 15px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    box-sizing: border-box;
  }
  
  /* Right Section */
  #about .info-container .right-section {
    flex: 1;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    border-radius: 15px;
  }
  
  /* Right Section Text */
  #about .info-container .right-section p {
    font-size: 1.4em;
    font-weight: 400;
  }
}