/* Mobile styles (up to 767px) */
@media (max-width: 767px) {
  /* Home Section */
  #home {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    border-radius: 0;
  }

  /* Left Section */
  #home .left-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-left: 20px;
    height: 300px;

  }

  /* Title */
  #home .left-section .title {
    font-size: 1.5em;
    text-align: left;
    line-height: 1em;
    color: var(--text-color);
  }

  /* Typing */
  #home .left-section .typing {
    font-size: 1.5em;
    text-align: left;
    line-height: 1em;
    margin-bottom: 20px;
    color: var(--text-color);

    /* cursor */
    margin-left: 0px;
    width: max-content;
    animation: blink .5s step-end infinite alternate;
    white-space: nowrap;
    border-right: 4px solid;
  }

  /* Subtitle */
  #home .left-section h2 {
    font-size: 0.75em;
    text-align: left;
    margin-bottom: 10px;
    flex: 1;
    color: var(--text-color);
  }

  /* Button */
  #home .left-section a {
    width: 150px;
    height: 70px;
    border-radius: 10px;
    background-color: var(--button-color);
    color: var(--text-color);
    transition: 0.2s ease-in-out;  
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: 1.5s ease-out learnMoreButton infinite;
    align-self: center;
  }

  /* Button Icon */
  #home .left-section a span {
    color: var(--text-color);
    font-weight: bold;
  }

  /* Button Hover */
  #home .left-section a:hover {
    background-color: var(--button-hover);
  }

  /* Right Section */
  #home .right-section {
    display: flex;
    justify-content: right;
  }

  /* Image */
  #home .right-section img {
    border-radius: 10px;
    margin: 20px;
    width: 300px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
  }
}

/* Tablet styles (768px to 1023px) */
@media (min-width: 768px) and (max-width: 1023px) {
  /* Home Section */
  #home {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 600px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 0;
  }

  /* Left Section */
  #home .left-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-left: 20px;
    height: 300px;

  }

  /* Title */
  #home .left-section .title {
    font-size: 2em;
    text-align: left;
    line-height: 1em;
    color: var(--text-color);
    margin-top: 50px;
  }

  /* Typing */
  #home .left-section .typing {
    font-size: 2em;
    text-align: left;
    line-height: 1em;
    margin-bottom: 20px;
    color: var(--text-color);

    /* cursor */
    margin-left: 0px;
    width: max-content;
    animation: blink .5s step-end infinite alternate;
    white-space: nowrap;
    border-right: 4px solid;
  }

  /* Subtitle */
  #home .left-section h2 {
    font-size: 1em;
    text-align: left;
    margin-bottom: 10px;
    flex: 1;
    color: var(--text-color);
  }

  /* Button */
  #home .left-section a {
    width: 150px;
    height: 70px;
    border-radius: 10px;
    background-color: var(--button-color);
    color: var(--text-color);
    transition: 0.2s ease-in-out;  
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: 1.5s ease-out learnMoreButton infinite;
  }

  /* Button Icon */
  #home .left-section a span {
    color: var(--text-color);
    font-weight: bold;
  }

  /* Button Hover */
  #home .left-section a:hover {
    background-color: var(--button-hover);
  }

  /* Right Section */
  #home .right-section {
    display: flex;
    justify-content: right;
  }

  /* Image */
  #home .right-section img {
    border-radius: 10px;
    margin: 20px;
    width: 300px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
  }
}

/* Laptop styles (1024px to 1439px) */
@media (min-width: 1024px) and (max-width: 1439px) {
  /* Home Section */
  #home {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 600px;
    border-radius: 0;
  }

  /* Left Section */
  #home .left-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-left: 20px;
    height: 300px;

  }

  /* Title */
  #home .left-section .title {
    font-size: 3em;
    text-align: left;
    line-height: 1em;
    flex: 1;
    color: var(--text-color);
  }

  /* Typing */
  #home .left-section .typing {
    font-size: 3em;
    max-width: 100%;
    text-align: left;
    line-height: 1em;
    margin-bottom: 20px;
    flex: 1;
    color: var(--text-color);
    
    /* cursor */
    margin-left: 0px;
    width: max-content;
    animation: blink .5s step-end infinite alternate;
    white-space: nowrap;
    border-right: 4px solid;
  }

  /* Subtitle */
  #home .left-section h2 {
    font-size: 1em;
    text-align: left;
    margin-bottom: 10px;
    flex: 1;
    color: var(--text-color);
  }

  /* Button */
  #home .left-section a {
    width: 150px;
    height: 50px;
    border-radius: 10px;
    background-color: var(--button-color);
    color: var(--text-color);
    flex: 1;
    transition: 0.2s ease-in-out;  
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: 1.5s ease-out learnMoreButton infinite;
  }

  /* Button Icon */
  #home .left-section a span {
    color: var(--text-color);
    font-weight: bold;
  }

  /* Button Hover */
  #home .left-section a:hover {
    background-color: var(--button-hover);
  }

  /* Right Section */
  #home .right-section {
    display: flex;
    justify-content: right;
  }

  /* Image */
  #home .right-section img {
    border-radius: 10px;
    margin: 20px;
    width: 450px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
  }
}

/* Desktop styles (1440px and up) */
@media (min-width: 1440px) {
  /* Home Section */
  #home {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 600px;
    border-radius: 0;
  }

  /* Left Section */
  #home .left-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-left: 20px;
    height: 300px;

  }

  /* Title */
  #home .left-section .title {
    font-size: 4em;
    text-align: left;
    line-height: 1em;
    flex: 1;
    color: var(--text-color);
  }

  /* Typing */
  #home .left-section .typing {
    font-size: 4em;
    text-align: left;
    line-height: 1em;
    margin-bottom: 20px;
    flex: 1;
    color: var(--text-color);
    
    /* cursor */
    margin-left: 0px;
    width: max-content;
    animation: blink .5s step-end infinite alternate;
    white-space: nowrap;
    border-right: 4px solid;
  }

  /* Subtitle */
  #home .left-section h2 {
    font-size: 1em;
    text-align: left;
    margin-bottom: 10px;
    flex: 1;
    color: var(--text-color);
  }

  /* Button */
  #home .left-section a {
    width: 150px;
    height: 50px;
    border-radius: 10px;
    background-color: var(--button-color);
    color: var(--text-color);
    flex: 1;
    transition: 0.2s ease-in-out;  
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: 1.5s ease-out learnMoreButton infinite;
  }

  /* Button Icon */
  #home .left-section a span {
    color: var(--text-color);
    font-weight: bold;
  }

  /* Button Hover */
  #home .left-section a:hover {
    background-color: var(--button-hover);
  }

  /* Right Section */
  #home .right-section {
    display: flex;
    justify-content: right;
  }

  /* Image */
  #home .right-section img {
    border-radius: 10px;
    margin: 20px;
    width: 450px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
  }
}

/* Typing Animation */
@keyframes blink {
  50% {
      border-color: transparent
  }
}

/* Up Down Animation */
@keyframes learnMoreButton {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(10px);
  }
}