/* Mobile styles (up to 767px) */
@media (max-width: 767px) {
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    animation: fade-in 1s;
    position: sticky;
    top: 0;
    z-index: 1000;
    padding-top: 20px;
    padding-bottom: 20px;
    user-select: none;
    color: var(--text-color);
    background-color: var(--color1);
  }

  /* Normal Header */
  .header-normal {
    display: none !important;
  }
  
  /* Mobile Header */
  .header-mobile {
    display: flex !important;
  }
  
  /* Header Container */
  header .header-container {
    display: flex;
    gap: 10px;
    flex-direction: column;
    background-color: var(--color2);
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    box-sizing: border-box;
  }
  
  /* Logo Container */
  .header-container .logo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }
  
  /* Logo Image */
  .header-container .logo-container img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
  }
  
  /* Logo Title */
  .header-container .logo-container h1 {
    word-spacing: 99999999999px;
    line-height: 1em;
    font-size: 1.5em;
    font-weight: bold;
    margin-right: 10px;
    color: var(--logo-color);
  }

  .header-container .logo-container .menu-button {
    background-color: transparent;
    padding: 5px;
    outline: none;
    border: none;
  }
  
  /* Button Container */
  .header-container .button-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }
  
  /* Button */
  .header-container .button-container a {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    text-decoration: none;
    color: var(--button-text-color);
    font-size: 1em;
    border: none;
    transition: 0.2s ease-in-out;  
    background-color: var(--button-color);
  }

  /* Button Highlight */
  .header-container .button-container a.highlight {
    background-color: var(--button-highlight);
  }
  
  /* Button Icon */
  .header-container .button-container a span {
    color: var(--text-color);
  }
  
  /* Button Hover */
  .header-container .button-container a:hover {
    transform: translate(2px, 3px);
    background-color: var(--button-hover);
  }
  
  /* Social Container */
  .header-container .social-container {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    flex: 1;
    gap: 10px;
    justify-content: right;
    width: 0;
    visibility: collapse;
  }
  
  /* Social Buttons */
  .header-container .social-container a {
    width: 40px;
    height: 40px;
    display: flex;
    align-content: center;
    justify-content: center;
    overflow: hidden;
    box-sizing: content-box;
    color: var(--text-color);
  }
  
  /* Social Buttons Image */
  .header-container .social-container a img {
    margin: 0px;
  }
}

/* Tablet styles (768px to 1023px) */
@media (min-width: 768px) and (max-width: 1023px) {
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    animation: fade-in 1s;
    position: sticky;
    top: 0;
    z-index: 1000;
    padding-top: 20px;
    padding-bottom: 20px;
    user-select: none;
    color: var(--text-color);
    background-color: var(--color1);
  }

  /* Normal Header */
  .header-normal {
    display: block !important;
  }
  
  /* Mobile Header */
  .header-mobile {
    display: none !important;
  }
  
  /* Header Container */
  header .header-container {
    height: 80px;
    display: flex;
    flex-direction: row;
    background-color: var(--color2);
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    box-sizing: border-box;
  }
  
  /* Logo Container */
  .header-container .logo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }
  
  /* Logo Image */
  .header-container .logo-container img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
  }
  
  /* Logo Title */
  .header-container .logo-container h1 {
    word-spacing: 99999999999px;
    line-height: 1em;
    font-size: 1.5em;
    font-weight: bold;
    margin-right: 10px;
    color: var(--logo-color);
  }
  
  /* Button Container */
  .header-container .button-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-left: auto;
  }
  
  /* Button */
  .header-container .button-container a {
    width: 70px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    text-decoration: none;
    color: var(--button-text-color);
    font-size: 1em;
    border: none;
    transition: 0.2s ease-in-out;  
    background-color: var(--button-color);
  }

  /* Games Button */
  .header-container .button-container #games-button {
    width: 100px;
  }
  
  /* Button Highlight */
  .header-container .button-container a.highlight {
    background-color: var(--button-highlight);
  }
  
  /* Button Icon */
  .header-container .button-container a span {
    color: var(--text-color);
  }
  
  /* Button Hover */
  .header-container .button-container a:hover {
    transform: translate(2px, 3px);
    background-color: var(--button-hover);
  }
  
  /* Social Container */
  .header-container .social-container {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    flex: 1;
    gap: 10px;
    justify-content: right;
    width: 0;
    visibility: collapse;
  }
  
  /* Social Buttons */
  .header-container .social-container a {
    width: 40px;
    height: 40px;
    display: flex;
    align-content: center;
    justify-content: center;
    overflow: hidden;
    box-sizing: content-box;
    color: var(--text-color);
  }
  
  /* Social Buttons Image */
  .header-container .social-container a img {
    margin: 0px;
  }
}

/* Laptop styles (1024px to 1439px) */
@media (min-width: 1024px) and (max-width: 1439px) {
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    animation: fade-in 1s;
    position: sticky;
    top: 0;
    z-index: 1000;
    padding-top: 20px;
    padding-bottom: 20px;
    user-select: none;
    color: var(--text-color);
    background-color: var(--color1);
    /* height: 80px; */
    /* background: linear-gradient(180deg, var(--MAIN-BG) 90%, rgba(0,0,0,0) 100%); */
  }

  /* Normal Header */
  .header-normal {
    display: block !important;
  }
  
  /* Mobile Header */
  .header-mobile {
    display: none !important;
  }
  
  /* Header Container */
  header .header-container {
    height: 80px;
    display: flex;
    flex-direction: row;
    background-color: var(--color2);
    /* background-color: red; */
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    box-sizing: border-box;
    /* border: 2px solid var(--BORDER-COLOR); */
  }
  
  /* Logo Container */
  .header-container .logo-container {
    display: flex;
    flex-direction: row;
    /* margin-right: auto; */
    flex: 1;
    align-items: center;
    gap: 10px;
  }
  
  /* Logo Image */
  .header-container .logo-container img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
  }
  
  /* Logo Title */
  .header-container .logo-container h1 {
    word-spacing: 99999999999px;
    line-height: 1em;
    font-size: 1.5em;
    font-weight: bold;
    color: var(--logo-color);
    padding-right: 10px;
  }
  
  /* Button Container */
  .header-container .button-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex: 1;
    /* background-color: orange; */
  }
  
  /* Button */
  .header-container .button-container a {
    width: 100px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    text-decoration: none;
    color: var(--button-text-color);
    font-size: 1em;
    border: none;
    /* border: 2px solid var(--BORDER-COLOR); */
    /* box-shadow: 2px 3px var(--BORDER-COLOR); */
    transition: 0.2s ease-in-out;  
    background-color: var(--button-color);
  }
  
  /* Button Highlight */
  .header-container .button-container a.highlight {
    /* background-color: rgb(92, 124, 95); */
    background-color: var(--button-highlight);
  }
  
  /* Button Icon */
  .header-container .button-container a span {
    color: var(--text-color);
  }
  
  /* Button Hover */
  .header-container .button-container a:hover {
    transform: translate(2px, 3px);
    background-color: var(--button-hover);
  }
  
  /* Social Container */
  .header-container .social-container {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    flex: 1;
    gap: 10px;
    justify-content: right;
    /* background-color: lime; */
  }
  
  /* Social Buttons */
  .header-container .social-container a {
    width: 40px;
    height: 40px;
    display: flex;
    align-content: center;
    justify-content: center;
    overflow: hidden;
    box-sizing: content-box;
    /* background-color: transparent; */
    color: var(--text-color);
  }
  
  /* Social Buttons Image */
  .header-container .social-container a img {
    margin: 0px;
  }
}

/* Desktop styles (1440px and up) */
@media (min-width: 1440px) {
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    animation: fade-in 1s;
    position: sticky;
    top: 0;
    z-index: 1000;
    padding-top: 20px;
    padding-bottom: 20px;
    user-select: none;
    color: var(--text-color);
    background-color: var(--color1);
    /* height: 80px; */
    /* background: linear-gradient(180deg, var(--MAIN-BG) 90%, rgba(0,0,0,0) 100%); */
  }

  /* Normal Header */
  .header-normal {
    display: block !important;
  }
  
  /* Mobile Header */
  .header-mobile {
    display: none !important;
  }
  
  /* Header Container */
  header .header-container {
    height: 80px;
    display: flex;
    flex-direction: row;
    background-color: var(--color2);
    /* background-color: red; */
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    box-sizing: border-box;
    /* border: 2px solid var(--BORDER-COLOR); */
  }
  
  /* Logo Container */
  .header-container .logo-container {
    display: flex;
    flex-direction: row;
    /* margin-right: auto; */
    flex: 1;
    align-items: center;
    gap: 10px;
  }
  
  /* Logo Image */
  .header-container .logo-container img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
  }
  
  /* Logo Title */
  .header-container .logo-container h1 {
    word-spacing: 99999999999px;
    line-height: 1em;
    font-size: 1.5em;
    font-weight: bold;
    color: var(--logo-color);
  }
  
  /* Button Container */
  .header-container .button-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex: 1;
    /* background-color: orange; */
  }
  
  /* Button */
  .header-container .button-container a {
    width: 100px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    text-decoration: none;
    color: var(--button-text-color);
    font-size: 1em;
    border: none;
    /* border: 2px solid var(--BORDER-COLOR); */
    /* box-shadow: 2px 3px var(--BORDER-COLOR); */
    transition: 0.2s ease-in-out;  
    background-color: var(--button-color);
  }
  
  /* Button Highlight */
  .header-container .button-container a.highlight {
    /* background-color: rgb(92, 124, 95); */
    background-color: var(--button-highlight);
  }
  
  /* Button Icon */
  .header-container .button-container a span {
    color: var(--text-color);
  }
  
  /* Button Hover */
  .header-container .button-container a:hover {
    transform: translate(2px, 3px);
    background-color: var(--button-hover);
  }
  
  /* Social Container */
  .header-container .social-container {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    flex: 1;
    gap: 10px;
    justify-content: right;
    /* background-color: lime; */
  }
  
  /* Social Buttons */
  .header-container .social-container a {
    width: 40px;
    height: 40px;
    display: flex;
    align-content: center;
    justify-content: center;
    overflow: hidden;
    box-sizing: content-box;
    /* background-color: transparent; */
    color: var(--text-color);
  }
  
  /* Social Buttons Image */
  .header-container .social-container a img {
    margin: 0px;
  }
}