/* Footer Container */
footer {
  /* border: 2px solid var(--BORDER-COLOR); */
  background-color: var(--color2);
  border-radius: 10px;
  animation: fade-in 1s;
  padding: 20px;
  height: 300px;
  text-align: center;
}