/* Mobile styles (up to 767px) */
@media (max-width: 767px) {
  
}

/* Tablet styles (768px to 1023px) */
@media (min-width: 768px) and (max-width: 1023px) {
  
}

/* Laptop styles (1024px to 1439px) */
@media (min-width: 1024px) and (max-width: 1439px) {
  
}

/* Desktop styles (1440px and up) */
@media (min-width: 1440px) {
  /* Skills Section */
  #skills {
    border: 2px solid var(--BORDER-COLOR);
    padding: 20px;
  }

  /* Skills Title */
  #skills h1 {
    font-size: 2em;
    text-align: center;
  }
  
}