/* Mobile styles (up to 767px) */
@media (max-width: 767px) {
  /* CV Section */
  #cv {
    display: flex;
    flex-direction: column;
    height: 500px;
    align-items: flex-end;
    gap: 20px;
    height: max-content;
    color: var(--text-color);
    padding-left: 10px;
    padding-right: 10px;
  }

  /* CV Title */
  #cv h1 {
    font-size: 3em;
    text-align: right;
    padding: 10px;
    border-radius: 15px;
  }

  /* CV Link */
  #cv h2 a {
    width: max-content;;
    border-radius: 15px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background-color: var(--color2);  
  }
}

/* Tablet styles (768px to 1023px) */
@media (min-width: 768px) and (max-width: 1023px) {
  /* CV Section */
  #cv {
    display: flex;
    flex-direction: column;
    height: 500px;
    align-items: flex-end;
    gap: 20px;
    height: max-content;
    color: var(--text-color);
    padding-left: 20px;
    padding-right: 20px;
  }

  /* CV Title */
  #cv h1 {
    font-size: 3em;
    text-align: right;
    padding: 10px;
    border-radius: 15px;
  }

  /* CV Link */
  #cv h2 a {
    width: max-content;;
    border-radius: 15px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background-color: var(--color2);  
  }
}

/* Laptop styles (1024px to 1439px) */
@media (min-width: 1024px) and (max-width: 1439px) {
  /* CV Section */
  #cv {
    display: flex;
    flex-direction: column;
    height: 500px;
    align-items: flex-end;
    gap: 20px;
    height: max-content;
    color: var(--text-color);
    padding-left: 20px;
    padding-right: 20px;
  }

  /* CV Title */
  #cv h1 {
    font-size: 3em;
    text-align: right;
    padding: 10px;
    border-radius: 15px;
  }

  /* CV Link */
  #cv h2 a {
    width: max-content;;
    border-radius: 15px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background-color: var(--color2);  
  }
}

/* Desktop styles (1440px and up) */
@media (min-width: 1440px) {
  /* CV Section */
  #cv {
    display: flex;
    flex-direction: column;
    height: 500px;
    align-items: flex-end;
    gap: 20px;
    height: max-content;
    color: var(--text-color);
  }

  /* CV Title */
  #cv h1 {
    font-size: 4em;
    text-align: right;
    padding: 10px;
    border-radius: 15px;
  }

  /* CV Link */
  #cv h2 a {
    width: max-content;;
    border-radius: 15px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background-color: var(--color2);  
  }
}