/* Mobile styles (up to 767px) */
#root {
  max-width: 1280px;
  margin: 0 auto;
}

body {
  background-color: var(--color1);
  color: var(--text-color);
}

main {
  display: flex;
  flex-direction: column;
  gap: 100px;
}

section {
  border-radius: 15px;
  animation: fade-in 1s;
  min-height: 10vh;
}