:root {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  font-weight: bold;
  line-height: 1em;
  font-family: "Roboto", sans-serif;
  color: var(--TEXT-COLOR);
  transition: 0.2s ease-in-out;  
}

html {
  scroll-behavior: smooth;
}

button {
  cursor: pointer;
  user-select: none;
}

/* Light Theme */
:root[data-theme="light"] {
  --c1: #B6C7AA;
  --c2: #F6E6CB;
  --c3: #E7D4B5;
  --c4: #A0937D;

  --MAIN-BG: var(--c2);
  --HEADER-BG: var(--c1);
  --BORDER-COLOR: #3C3D37;
  --TEXT-COLOR: #3C3D37;

  --ABOUT-BG-IMG: url("/flatBackgroundLight.svg");
  
  --fb1: #F4F6DA;
  --fb2: #E38821;
  --fb3: #203827;
  --fb4: #D9DF40;
  --fb5: #60A84C;
}

/* Dark Theme */
:root[data-theme="dark"] {
  --MAIN-BG: #252523;
  --HEADER-BG: #445e42;
  --BORDER-COLOR: #3C3D37;
  --TEXT-COLOR: white;

  --ABOUT-BG-IMG: url("/flatBackgroundDark.svg");
  
  --fb1: #0b0925;
  --fb2: #E38821;
  --fb3: #203827;
  --fb4: #D9DF40;
  --fb5: #60A84C;
}

/* Fade In Animation */
@keyframes fade-in {
  from {
    opacity: 0;
  } 
  to {
    opacity: 100;
  } 
}