:root {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  font-weight: bold;
  line-height: 1em;
  font-family: "Roboto", sans-serif;
  color: var(--TEXT-COLOR);
  transition: 0.2s ease-in-out;  
}

html {
  scroll-behavior: smooth;
}

button {
  cursor: pointer;
  user-select: none;
}

/* Light Theme */
:root[data-theme="light"] {
  --color1: #dbdbdb;
  --color2: #ffffff;
  --color3: #92c3d8;
  --color4: #111111;
  --line-color: black;
  --text-color: black;
  --button-color: rgba(0,0,0,0.2);
  --button-text-color: black;
  --button-hover: rgba(0,0,0,0.4);
  --button-highlight: var(--color3); 
  --logo-color: black;
}

/* Dark Theme */
:root[data-theme="dark"] {
  --color1: #222831;
  --color2: #31363F;
  --color3: #7693ae;
  --color4: #EEEEEE;
  --line-color: #fff;
  --text-color: #fff;
  --button-color: rgba(255,255,255,0.2);
  --button-text-color: white;
  --button-hover: rgba(0,0,0,0.2);
  --button-highlight: var(--color3); 
  --logo-color: white;
}

/* Fade In Animation */
@keyframes fade-in {
  from {
    opacity: 0;
  } 
  to {
    opacity: 100;
  } 
}

/* 2k display */
@media only screen and (min-width: 2560px) and (max-width: 3839px) {
  body {
    zoom: 1.25;
  };
}

/* 4k display */
@media only screen and (min-width: 3840px) {
  body {
    zoom: 2;
  };
}